{% extends 'base.html' %}  <!-- این میگه که اطلاعات باید برای استفاده به فایل base.html منتقل بشه -->

{% block block_title %}
    Home
{% endblock %}

{% block pages_html %}  <!-- اینجا مشخص می کنم کد ها توی چه بلاکی از فایل base قرار بگیره -->
    <h3>welcom to home page</h3>
    <br>

    <div class = "card">
    {% for item in todo %}  <!-- از طریق نام کلید دایرکتوری به اطلاعاتش می تونیم دسترسی داشته باشیم -->
        <a class = "card-body" href = "{% url 'ditals' item.id %}">{{ item.id }} _ {{ item.title }}</a><br>
<!-- تگ a عبارت داخلش رو به یک لینک تبدیل می کنه و href هم اسم ادرس لینک رو مشخص میکنه که بعدش ارگومان های ادرس باید با یک فاصله ازهم قرار بگیرن -->
    {% endfor %}
    </div>
{% endblock %}