{% extends 'base.html' %}  <!-- این میگه که اطلاعات باید برای استفاده به فایل base.html منتقل بشه -->

{% block block_title %}
    Home
{% endblock %}

{% block pages_html %}  <!-- اینجا مشخص می کنم کد ها توی چه بلاکی از فایل base قرار بگیره -->
    <h3>welcom to home page</h3>
    {{ todo }}
    {% for item in todo %}  <!-- از طریق نام کلید دایرکتوری به اطلاعاتش می تونیم دسترسی داشته باشیم -->
        <h3>{{ item.id }} _ {{ item.title }}</h3>
        <small>{{ item.created }}</small>
        <p>{{ item.body }}</p>
    {% endfor %}
{% endblock %}